
version: '3.5'

services:
  postgres:
    container_name: postgres_container_dev
    image: postgres
    environment:
        POSTGRES_USER: "inspektoruser"
        POSTGRES_PASSWORD: "inspektoruser"
        PGDATA: /var/lib/postgresql/data
    volumes:
       - postgresdev:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
volumes: 
    postgresdev: 